@import "../scoped";
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

.hero-block {
  padding-bottom: 90px;
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__inner {
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 63px;
    line-height: 120%;
    color: #2A2A2A;
    margin-bottom: 24px;
  }
  &__description {
    font-size: 16px;
    line-height: 24px;
    color: #5C5C5C;
    margin-bottom: 24px;
  }
}

.hero-block-inner {
  position: relative;

  &__image {
    width: 555px;
    position: absolute;
    top: 0;
    left: 100px;
    animation: rotate 120s linear infinite;
    z-index: 0;
  }

  &__form {
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    border-radius: 4px;
    position: relative;
    width: 470px;
    z-index: 2;

    max-width: 100%;
  }
}

.form-row {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
    margin-top: 24px;
  }
  &__input {
    padding: 13px 13px 13px 56px;
    width: 100%;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #2A2A2A;
    transition: .3s;
    outline: none;

    &:invalid:not(:placeholder-shown),
    &.error {
      border-color: red;
    }

    &:focus {
      border-color: #386DF5;

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      color: #9E9E9E;
      transition: .3s;
    }

    &--name {
      background: #fff url("~/src/assets/images/icons/icon-name.svg") no-repeat 16px center / 24px 24px;
    }
    &--email {
      background: #fff url("~/src/assets/images/icons/icon-email.svg") no-repeat 16px center / 24px 24px;
    }
    &--password {
      background: #fff url("~/src/assets/images/icons/icon-lock.svg") no-repeat 16px center / 24px 24px;
      padding-right: 50px;
    }
  }
  &__submit {
    width: 100%;
    padding: 8px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    background: #386DF5;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: .3s;

    &--parted {
      width: 190px;

      @media (max-width: 567px) {
        width: 100%;
      }
    }
    @media (pointer: fine) {
      &:hover {
        background: #2A2A2A;
        color: #fff;
      }
    }
  }
  &__link {
    &--button {
      width: 190px;
      padding: 8px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #386DF5;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      border: 2px solid #386DF5;
      transition: .3s;

      @media (max-width: 567px) {
        width: 100%;
        margin-top: 15px;
        text-align: center;
      }
      @media (pointer: fine) {
        &:hover {
          background: #ECF1FE;
        }
      }
    }
  }
}

.form-account {
  margin-top: 90px;
  @media (max-width: 1023px) {
    margin-top: 30px;
  }
  &--reset {
    margin-top: 175px;
    @media (max-width: 1023px) {
      margin-top: 90px;
    }
  }
  &__row {
    position: relative;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 8px;

    @media (max-width: 1023px) {
      font-size: 32px;
      line-height: 1.3;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 567px) {
      flex-direction: column-reverse;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2A2A2A;
    text-decoration: none;
    transition: .3s;
    margin-top: 10px;
    @media (pointer: fine) {
      &:hover {
        text-decoration: underline;
        color: #386DF5;
      }
    }
  }

  &__eye {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    padding: 0;
    border: none;
    background: transparent;

    svg {
      width: 100%;
      display: none;

      &.form-account__eye--active {
        display: block;
      }
    }
  }
}

.result {
  position: absolute;
  top: 0;
  background: #fff;
  width: 810px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  pointer-events: none;

  &__image {
    width: 570px;
    margin: 45px auto 32px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #2A2A2A;
  }
}

.hidden {
  transition: opacity .3s;
  opacity: 0;
  pointer-events: none;
}
.visible {
  transition: opacity .3s;
  opacity: 1;
  pointer-events: all;
}